<!DOCTYPE html>
<html rel="stylesheet"	href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>New Employe</title>

<link rel ="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundel.js"> </script>

</head>
<body>


<header>
<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">Home</a></li>
        
   	   <li><a class="dropdown-item" th:href="@{/LogIn}">Log Out</a></li>
       <li><a class="dropdown-item" th:href="@{/NewEmploye}">New Emplye</a></li>
       <li>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
</a>

<span sec:authentication="name"> </span>
</li>
    </ul>
  </div>

</nav>

<section layout:fragment="content1"> 


</section>



</header>


<div layout:fragment="Header"> 

<div class="col-md-6 offset-3"> 

<form th:action="@{save}" method="post">

<div>

<label for="Nom"> Nom</label>
<input id="Nom" class="form-control" type="text" name="Nom" th:value="${employe.Nom}">
<span class="text-danger" th:errors="${employe.Nom}"></span>
<br>
<label for="Prenom"> Prenom</label>
<input id="Prenom" class="form-control" type="text" name="Prenom" th:value="${employe.Prenom}">
<span class="text-danger" th:errors="${employe.Prenom}"></span>
  
  <br>
  <label > Date Naissance</label>
<input class="form-control" type="date" name="DatNaissance" th:value="${employe.DatNaissance}">
<span th:errors="${employe.DatNaissance}"></span>
  
  <br>
  <label for="Role"> Role</label>
<input id="Role" class="form-control" type="text" name="Role" th:value="${employe.Role}">
<span class="text-danger" th:errors="${employe.Role}"></span>
  
  <br>
<button type="submit" class="btn btn-primary">Save </button>
  


</div>



</form>

</div>


</div>

</body>
</html>